@font-face {
   font-family: OpenSans;
   src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
html {
   scroll-behavior: smooth;
}
body {
   font-family: 'OpenSans';
   min-height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
* {
   box-sizing: border-box;
}
h1,
h2 {
   text-transform: uppercase;
}
li {
   list-style: none;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
}
.menu {
}
.menu-list {
   text-align: right;
}
.menu-item {display: inline;
   
}
.menu-link {
   padding: 0 15px;
   height: 20px;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.flex-profile-contacts {
   display: flex;
  justify-content: space-evenly;
}
.profile {
   background-color: aqua;
   border-radius: 25px;
   padding: 20px;

}
.profile-name {
   text-align: center;
   letter-spacing: 2px;
   font-style: italic;
   
}
.profile-img {
   border-radius: 15px;
   height: 350px;
   max-width: 100%;
}
.contacts {
   align-self: center;
   
}
.profile-contacts {
  text-align: center;
}
.contact {
}
li.contact {
   height: 35px;
   display: flex;
   align-items: center;
}
.imgcontact-tel {
background: url('./assets/img/e57e20f30c1ed45a02aca37611a23681.jpg') 0 50%/contain no-repeat ;
padding: 0 0 0 50px;
margin: 0 0 10px 0;
}
.imgcontact-email {
background: url('./assets/img/mail_icon_clip_art_preview.jpg') 0 50%/contain no-repeat ;
padding: 0 0 0 50px;
margin: 0 0 10px 0;
}
.imgcontact-location {
   background: url('./assets/img/1246335.png') 0 50%/contain no-repeat ;
padding: 0 0 0 50px;
}
.skills-summary{
   display: flex;
  justify-content:space-evenly ;
}
.profile-summary {
   align-self: flex-end;
width: 40%;
}
.skills {
   background-color: cyan;
   border-radius: 15px;
   padding: 13px;
   width: 50%;
   text-transform: uppercase;
   letter-spacing: 2px;
   
}
.discriptions {
   width: 100%;
   background-color: darkgray;
}
.range {
   padding-right: 10px;
   text-align: right;
   color: white;
   line-height: 25px;
}
.html {
   width: 70%;
   background-color: blue;
}
.css {width: 60%;
   background-color: darkcyan;

}
.js {
   width: 10%;
   background-color: darkgoldenrod;
}
.flex-code-educ-eng {
   display: flex;
   justify-content: space-evenly;
   margin: 40px 0 0 0;
   padding: 30px;
}
.example-code { 
   width: 40%;
   &__codewars {
      
   }
}
.link-cv {
  color: black;
  font-style: oblique;
  text-align: center;
}
.education {

   &__university {
   }
}
.english {
   width: 30%;
   text-align: right;
  
}
.english-lvl {
   text-align: right;
   padding: 0;
   margin: 0;
}

.footer {display: flex;
   justify-content: space-between;
   background-color: cornflowerblue;
  
}
.footer-rs {align-self: center;
}

.footer-imgrss {
   max-width: 100px;
}
